{% extends "base.html" %}
{% block content %}

{% load static %}

<div class="">

	<h1>Pourquoi ce projet ?</h1>

	<div class="section scrollspy" id="history" name="Historique">

		<h2>Historique</h2>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static "img/hourglass-620397_640.jpg" %}"></div>
		</div>

		<p>
			L'idée nous est venue lorsque nous avons effectué nos premières maraudes. Ces maraudes sont très efficaces pour aller en groupe à la rencontre de personnes en difficulté.
		</p>
		<p>
			Une fois ces premières maraudes effectuées, nous en avons parlé autour de nous, et nombreux étaient ceux qui voulaient faire la même chose. Malheureusement, l'emploi du temps ne correspondait pas aux horraires de la maraude.
		</p>
		<p>
			Nous avons alors cherché s'il y avait des applications mobiles ou web qui facilitent les maraudes.
		</p>
		<p>
			Malheureusement, une seule est open-source. Les autres ne le sont pas, et leur bon fonctionnement dépend donc uniquement des développeurs. Du coup, nous souhaitons développer cette application en nous inspirant des applications existantes ou passées...
		</p>
	</div>

	<div class="section scrollspy row" id="solution" name="solution">

		<h2>Recherche d'une solution</h2>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static "img/books-441866_640.jpg" %}"></div>
		</div>

		<p>
			Voici un récapitulatif des applications que j'ai trouvé au cas où vous vous intéressez à une application déjà existante...
		</p>
		<table class="striped">
			<thead><tr><td>Nom</td><td>Libre</td><td>Open-source</td><td>Description</td></tr></thead>
			<tbody>
				<tr>
					<td>
						<a href="https://github.com/rasmi/homeless-nyc">
							Homeless nyc
						</a>
					</td>
					<td><i class="material-icons">clear</i> GPLV2</td>
					<td><i class="material-icons">check</i></td>
					<td>
						<p>Application Android (pas de portage windows ou IOS) spécifique à New York.</p>
					</td>
				</tr>
				<tr>
					<td><a href="http://homelessplus.com/">
						Homeless plus
					</a></td>
					<td><i class="material-icons">clear</i></td>
					<td><i class="material-icons">clear</i></td>
					<td>
						<p>
							Non libre ou open-source, alors nous nous sommes inspirés de son utilisation. Première application qui a grandement inspiré celle-ci, surtout par sa simplicité d'accès et la non-nécessité de se connecter pour l'utiliser.
						</p>
						<p>
							Elle permet de localiser les sans-abris en difficulté, d'indiquer les besoins à couvrir, ainsi que le sexe et l'humeur du sans-abri. L'humeur et le sexe de la personne sont des informations qui nous semblent contraire à la création de lien social par la spontanéité, alors nous les avons retiré du développement final.
						</p>
					</td>
				</tr>
				<tr>
					<td><a href="http://www.mpli.fr/">
						Merci pour l'invit'!
					</a></td>
					<td><i class="material-icons">clear</i></td>
					<td><i class="material-icons">clear</i></td>
					<td>Application Android non libre et non open-source qui permet de rentrer en communication par message avec les gens en galère, et réciproquement. Si vous la testez, faites attention à ne pas utiliser un mot de passe que vous utilisez souvent car la connection n'est pas sécurisée !</td>
				</tr>
				<tr>
					<td><a href="http://www.entourage.social/">
						Entourage
					</a></td>
					<td><i class="material-icons">check</i></td>
					<td><i class="material-icons">check</i></td>
					<td>Application iPhone et Android libre (sans licence) et <a href="https://github.com/ReseauEntourage">open-source</a>, développée par une entreprise partenaire de la croix rouge. Réseau social pour aider les gens en galère, sous l'autorité d'associations acceptées par l'entreprise. Et outil de support de maraude pour les associations (comptes rendus, historique des rencontres, etc.)</td>
				</tr>
				<tr>
					<td>
						<a href="https://www.facebook.com/0sdf0/">0 SDF</a>
					</td>
					<td><i class="material-icons">check</i></td>
					<td><i class="material-icons">check</i></td>
					<td>Solution de mise en relation entre commerçants et SDF à Strasbourg par le biais d'une affiche à mettre en façade du commerce. Nous réutilisons leur affiche pour faciliter l'aide de toute personne depuis son domicile via le concept d'"aide" de notre application.
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<div class="section scrollspy" id="action" name="Action">

		<h2>Passage à l'acte</h2>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static "img/connect-20333_640.jpg" %}"></div>
		</div>


		<p>
			Vous l'aurez compris, seule entourage et 0sdf sont libres. Ce qui va permettre de gagner un temps considérable pour développer une application libre, open-source et multi-plateforme, à usage spontané et simple !
		</p>

		<p>
			Me voici donc parti pour développer rapidement et simplement (merci la méthode KISS) une application pour permettre à quelqu'un de rapidement être aidé ou aider une personne en galère !
		</p>

	</div>

	<div class="section scrollspy" id="who" name="Qui sommes-nous ?">

		<h2>
			Qui se cache derrière ce projet ?
		</h2>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static "img/white-male-1871375_640.jpg" %}"></div>
		</div>

		<div class="row">
			<div class="col s2">
				<img src="{% static "img/apt-get-install-freedom.jpg" %}" class="circle left small responsive-img" />
			</div>
			<div class="col s10">
				<div class="row">
					<div class="col s12">
						<h5><a target="_blank" href="https://github.com/b3j0f">b3j0f</a></h5>
					</div>
					<div class="col s12">
						<p>
							Développeur en informatique, passionné par le partage de resources et de connaissances.
						</p>
					</div>
				</div>
			</div>
		</div>
	</diV>

</div>

{% endblock %}
