{% extends "base.html" %}
{% block content %}

<div class="">

	<h2>Foire aux questions</h2>

	<ul class="collapsible popout" data-collapsible="accordion">
		<li id="goal">
			<div class="collapsible-header"><i class="material-icons">settings</i>Quel est le but de l’application ?</div>
			<div class="collapsible-body">
				<p>
					L’application Simpleneed permet à toute personne de pouvoir géolocaliser :
				</p>
				<ol>
					<li>
						Une personne dans le besoin (nourriture, argent, vêtements, soins et logement) afin que d’autres personnes des environs puissent lui venir en aide spontanément.
					</li>
					<li>
						Une maraude (groupe de personnes qui souhaitent répondre aux besoins) en cours.
					</li>
					<li>
						Un endroit où des aides sont disponibles (stoque de nourriture, centre de logement, etc.).
					</li>
				</ol>
				<p>
					Que ce soit en lui apportant de la nourriture, un café bien chaud, des vêtements ou juste une parole, le but est de créer un élan de solidarité et de lien social, tout en luttant contre le gaspillage.
				</p>
				<p>
					Pour cela, 2 clics suffisent pour renseigner la localité et les actions éventuelles. D’autres personnes et les associations des alentours auront alors accès à ces informations et pourront également lui venir en aide.
				</p>
				<p>
					Nous sommes soutenus par des anonymes et par des associations qui utilisent l’application comme un réflexe à adopter au quotidien.
				</p>
			</div>
		</li>
		<li id="status">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">line_style</i>Quel est votre statut ?
			</div>
			<div class="collapsible-body">
				<p>
					Simpleneed est une initiative citoyenne qui n'est pour l'instant rattachée à aucun cadre légal.
				</p>
				<p>
					L'objectif est surtout d'aider les personnes en difficulté, de recréer du lien.
				</p>
				<p>
					Le tout sous la forme d'une solution <a href="https://github.com/b3j0f/simpleneed" target="_blank"> technologique libre et open-source</a> pour que d'autres puissent se l'approprier si besoin.
				</p>
			</div>
		</li>
		<li id="money">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">attach_money</i>Comment gagnez-vous de l’argent ?
			</div>
			<div class="collapsible-body">
				<p>
					Par les dons. Nous utilisons un compte <a href="https://liberapay.com/simpleneed">liberapay</a> pour que vous puissiez effectuer des dons afin de pouvoir rémunérer la location des serveurs.
				</p>
				<p>
					Actuellement, ce coût s'élève à environ 5€/mois. Et le nom de domaine à 15€/an.
				</p>
			</div>
		</li>
		<li id="track">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">track_changes</i>N’avez-vous pas le sentiment de "ficher" les sans-abris ?
			</div>
			<div class="collapsible-body">
				<p>
					En effet, nous ne pouvons pas empêcher une personne de juste localiser sans demander l’avis à la personne en difficulté et sans avoir pris le temps d’échanger avec celui ci sur ses besoins.
				</p>
				<p>
					Cette application n’a aucunement vocation de "fliquer" une personne mais simplement prévenir sa présence auprès des travailleurs sociaux et des personnes des alentours pour l’aider.
				</p>
				<p>
					De plus, aucune information personnelle concernant le sans-abri et l’utilisateur n’est enregistrée. L’action reste anonyme. Les localisations sont temporaires et disparaissent au bout de 8 heures si aucune action n’a pu être effectué. De plus des sans abris nous soutiennent et nous encouragent à continuer.
				</p>
			</div>
		</li>
		<li id="needlocation">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">cancel</i>Pourquoi mon point a-t-il disparu ?
			</div>
			<div class="collapsible-body">
				<p>
					Les localisations disparaissent automatiquement au bout de 8 heures. Si une personne a été aidé par une autre personne et que celle-ci l’a spécifié dans l’application, la localisation est prolongée de 8 heures.
				</p>
			</div>
		</li>
		<li id="count">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">face</i>Comment puis je voir, si une personne a aidé une personne que j'ai géolocalisé ?
			</div>
			<div class="collapsible-body">
				<p>
					Toute personne qui a apporté son aide a pu mettre à jour les besoins attendus par la personne en difficulté. Si les besoins ont été couverts, alors l'indicateur va disparaitre de la carte et les <a href="/stats">statistiques</a> vont se mettre à jour.
				</p>
			</div>
		</li>
		<li id="cancel">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">error_outline</i>Je fais une erreur lors de la localisation, puis-je annuler ?
			</div>
			<div class="collapsible-body">
				<p>
					Il vous suffit de cliquer sur le bouton "supprimer" lors de la mise à jour de la localisation.
				</p>
			</div>
		</li>
		<li id="platform">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">smartphone</i>Je possède un smartphone, puis-je utiliser l’application ?
			</div>
			<div class="collapsible-body">
				<p>
					Pour l'instant, l'application n'est disponible que via ce site web. Alors il vous suffit de vous rendre à cette addresse : {{ host }}.
				</p>
				<p>
					L’application sera prochainement disponible sur Android, iPhone et Windows phone. N’hésitez à suivre nos pages <a href="https://www.facebook.com/simpleneed-658632400984467" target="_blank">Facebook</a> afin de rester informé.
				</p>
			</div>
		</li>
		<li id="foreign">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">map</i>Puis je utiliser Simpleneed à l’étranger ?
			</div>
			<div class="collapsible-body">
				<p>
					La carte n'a pas de frontière, alors profitez-en pour faire connaître ce projet ! Une traduction pourra être proposé sur demande.
				</p>
			</div>
		</li>
		<li id="health">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">healing</i>Comment faire si je rencontre une personne en détresse ?
			</div>
			<div class="collapsible-body">
				<p>
					Cela dépend de la situation dans laquelle elle se trouve. S’il celle-ci est malade ou blessée, vous devez appeler les pompiers (18) ou la SAMU (15). Si elle a besoin d’une prise en charge urgente afin de lui offrir un hébergement pour la nuit, nous vous invitons à contacter le SAMU social (115).
				</p>
			</div>
		</li>
		<li id="help">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">help_outline</i>Comment faire pour vous aider ?
			</div>
			<div class="collapsible-body">
				<p>
					Déjà en utilisant l’application afin d’aider les personnes en difficulté, nous sommes très fiers de participer à votre élan de solidarité.
				</p>
				<p>
					En partageant nos actualités et en parlant de Simpleneed. Vous pouvez également nous faire une donation depuis notre site internet en cliquant sur «&nbsp;faire un don&nbsp;» présent dans le menu, ceci afin de faire évoluer l’application et nos actions sur le terrain.
				</p>
			</div>
		</li>
		<li id="update">
			<div class="collapsible-header" data-collapsible="accordion">
				<i class="material-icons">system_update</i>Prévoyez-vous de nouvelles mise à jour ou nouvelles fonctionnalités ?
			</div>
			<div class="collapsible-body">
				<p>
					Si vous souhaitez contribuer, proposer une fonctionalité, ou critiquer l'application, n'hésitez pas à le faire <a href="https://github.com/b3j0f/simpleneed/issues">ici</a>
				</p>
			</div>
		</li>
	</ul>
</div>

{% endblock %}
