{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="section white">
	<div class="center">
		<h1 class="header">
			Comment agir spontanément pour ceux qui sont dans le besoin ?
		</h1>
		<i class="material-icons large">arrow_drop_down</i>
	</div>
</div>

<div id="problems" class="section white scrollspy" name="Problèmes">
	<div class="row">
		<ul id="problems">
			<li style="opacity: 0">
				<div class="col s6">
					<div class="center">
						<i class="material-icons large">healing</i>
						<p class="grey-text text-darken-3 lighten-3 center">
							Vous êtes en galère et vous ne savez pas où trouver de l'aide ?
						</p>
					</div>
				</div>
			</li>
			<li style="opacity: 0">
				<div class="col s6">
					<div class="center">
						<i class="material-icons large">help</i>
						<p class="grey-text text-darken-3 lighten-3 center">
							Vous avez envie d'aider votre prochain et vous ne savez pas où et comment le faire, ou bien vous n'osez pas le faire seul(e) ?
						</p>
					</div>
				</div>
			</li>
		</ul>
		<div class="col s12">
			<div class="center" style="opacity: 0" id="then">
				<i class="material-icons large">mood</i>
				<h5>
					Cette plateforme peut vous aider...
				</h5>
				<h1>
					En vous montrant les endroits qui proposent ou nécessitent de l'aide !
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="divider"></div>

<div class="section scrollspy center" id="solution" name="Solution">
	<h2 class="header">La solution en trois fonctionnalités et deux clics</h2>
	<a href="#mapsection">
		<div class="row center">
			<ul id="solution1">
				<li style="opacity: 0">
					<div class="col l4 s12">
						<div class="card hoverable">
							<div class="card-content">
								<span class="card-title grey-text text-darken-4">
									Je suis ou je rencontre quelqu'un en galère
								</span>
								<br/>
								<p>
									<br/>
									Je clique sur la carte l'endroit où il y a une galère, puis je sélectionne les besoins (nourriture, logement, soins, etc.).

								</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul id="solution2">
				<li style="opacity: 0">
					<div class="col l4 s12">
						<div class="card hoverable">
							<div class="card-content">
								<span class="card-title grey-text text-darken-4">
									J'ai envie d'aider seul ou en groupe
								</span>
								<p>
									<br/>
									Je cherche ou j'indique les endroits où il y a besoin d'aide. Seul ou en rejoignant une maraude.
								</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul id="solution3">
				<li style="opacity: 0">
					<div class="col l4 s12">
						<div class="card hoverable horizontal">
							<div class="card-image">
								<imge src="{% static 'img/0sdf.png' %}" />
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<span class="card-title grey-text text-darken-4">
										Je veux aider sans me déplacer
									</span>
									<p>
										J'indique l'endroit où j'ai des ressources à donner pour dépanner sur la carte ou à l'aide du <span class="teal-texts"><b><i>FLYER OSDF</b></i></span> que j'affiche sur ma façade.
									</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<ul id="flyer">
				<li style="opacity: 0">
					<div class="col offset-l4 l4 s12">
						<a onclick="print0SDF()" class="btn">
						Imprimer le flyer 0SDF
						</a>
						<!--a onclick="print0SDF">
							<div class="card">
								<div class="card-image">
									<img src="{% static 'img/0sdf.png' %}" />
									<span class="card-title black-text">Télécharger le flyer</span>
								</div>
							</div>
						</a-->
					</div>
				</li>
			</ul>
		</div>
	</a>
</div>

<div class="divider"></div>

<div class="center" id='mapsection'>
	<h2>À vous de jouer !</h2>
	{% include 'map-include.html' %}
</div>

<script type="text/javascript" charset="utf-8" async defer>
	var options = [
	{
		selector: '#problems', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	},
	{
		selector: '#then', offset: 100,
		callback: function(elt) {
			Materialize.fadeInImage($(elt));
		}
	},
	{
		selector: '#solution1', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	},
	{
		selector: '#solution2', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	},
	{
		selector: '#solution3', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	},
	{
		selector: '#flyer', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	}
	];
	Materialize.scrollFire(options);
</script>

{% endblock %}
