<!-- survey section of {{ survey.id }} -->

{% with survey=surveydata.survey categories=surveydata.categories proposaldata=surveydata.proposaldata kind=surveydata.kind %}

<div class="center">

    {% if desc %}
    <h1>
        {% if survey.url %}<a href="{{ survey.url }}">{% endif %}
        {{ survey.name|capfirst }}
        {% if survey.url %}</a>{% endif %}
    </h1>

    {% if survey.description %}

    <p>{{ survey.description }}</p>

    {% endif %}

    {% endif %}

    <script type="text/javascript">

        var proposals = {};
        var results = {};
        var votes = {};

        {% for proposal, results, votes in proposaldata %}

        {% endfor %}

    </script>

    <div id="survey{{ survey.id }}"></div>

    <script type="text/javascript" charset="utf-8">

        var survey{{ survey.id }} = c3.generate({
            bindto: '#survey{{ survey.id }}',
            data: {
                columns: [],
                type: {% if kind == 'BinarySurvey' %}'pie'{% else %}'bar'{% endif %}
            }
        });

        function refresh{{ survey.id }}() {
            survey{{ survey.id }}.load({
                columns: [
                {% for result in results %}
                [
                'survey{{ result.proposal.name }}',
                {{ result.count }}
                ],
                {% endfor %}
                ['test', 1]
                ],
            });
            setTimeout(refresh{{ survey.id }}, 5000);
        };

        refresh{{ survey.id }}();

    </script>

    {% if vote %}

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn" href="#vote{{ survey.id }}">Participer !</a>

    <!-- Modal Structure -->
    <div id="vote{{ survey.id }}" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="input-field">
                <h4>{{ survey.name }}</h4>
                <form >

                    {% if kind == 'BinarySurvey' %}

                    <select>

                        {% for proposal, results, vote in proposaldata %}

                        <option value="{{ proposal.name }}" {% if vote %}"selected"{% endif %} >{{ proposal.name }}</option>

                        {% endfor %}

                    </select>

                    {% else %}

                    {% if survey.points > 1 %}
                    <p id="points">Points restants: {{ survey.points }}</p>
                    {% endif %}

                    {% if survey.ordered %}

                    {% for proposal, results, vote in proposaldata %}

                    <select>

                        {% for proposal in proposaldata %}

                        {% endfor %}

                    </select>

                    {% endfor %}

                    {% endif %}

                    {% endif %}

                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><p class="center-align">Vote !</p></a>
        </div>
    </div>

    {% endif %}

</div>

{% endwith %}