{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="section white">
	<div class="row container center">
		<h1 class="header">
			Comment agir spontanément pour ceux qui sont dans le besoin ?
		</h1>
	</div>
</div>

<div id="problems" class="section white scrollspy" name="Problèmes">
	<div class="row container">
		<ul id="problems">
			<li style="opacity: 0">
				<div class="col s6">
					<div class="center">
						<i class="material-icons large">healing</i>
						<p class="grey-text text-darken-3 lighten-3 center">
							Vous êtes en galère mais vous ne savez pas où trouver de l'aide ?
						</p>
					</div>
				</div>
			</li>
			<li style="opacity: 0">
				<div class="col s6">
					<div class="center">
						<i class="material-icons large">help</i>
						<p class="grey-text text-darken-3 lighten-3 center">
							Vous avez envie d'aider votre prochain mais vous ne savez pas où et comment le faire, ou bien vous n'osez pas le faire seul(e) ?
						</p>
					</div>
				</div>
			</li>
		</ul>
		<div class="col s12">
			<div class="center" style="opacity: 0" id="then">
				<i class="material-icons large">mood</i>
				<h5>
					Cette plateforme peut vous aider...
				</h5>
				<h1>
					En vous montrant les endroits qui proposent ou nécessitent de l'aide !
				</h1>
			</div>
		</div>
	</div>
</div>

<div class="section white scrollspy container" id="solution" name="Solution">
	<h2 class="header">La solution en trois fonctionnalités et deux clics</h2>
	<a href="#mapsection">
	<div class="row">
		<ul id="solution1">
			<li style="opacity: 0">
				<div class="col l4 s12">
					<div class="card hoverable">
						<div class="card-content">
							<span class="card-title grey-text text-darken-4">
								Je suis ou je rencontre quelqu'un en galère alors...
							</span>
							<p>
								Je clique sur la carte l'endroit où il y a une galère, puis je sélectionne les besoins (nourriture, logement, soins, etc.).
							</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<ul id="solution2">
			<li style="opacity: 0">
				<div class="col l4 s12">
					<div class="card hoverable">
						<div class="card-content">
							<span class="card-title grey-text text-darken-4">
								J'ai envie d'aider seul ou en groupe alors...
							</span>
							<p>
								Je cherche ou j'indique les endroits où il y a besoin d'aide. Seul ou en rejoignant une maraude.
							</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<ul id="solution3">
			<li style="opacity: 0">
				<div class="col l4 s12">
					<div class="card hoverable">
						<div class="card-content">
							<span class="card-title grey-text text-darken-4">
								Je veux aider sans me déplacer alors...
							</span>
							<p>
								J'indique l'endroit où j'ai des ressources à donner pour dépanner.
							</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div></a>
</div>

<div class="divider"></div>

<div class="container" id='mapsection'>
	<h2>À vous de jouer !</h2>
	{% include 'map-include.html' %}
</div>

<div class="divider"></div>

<div class="parallax-container">
	<div class="parallax"><img src="{% static "img/white-male-1871375_640.jpg" %}"></div>
</div>

<div class="section white scrollspy" id="changement" name="Qui sommes-nous ?">
	<div class="container">
		<h2>
			Qui se cache derrière ce projet ?
		</h2>

		<div class="row">
			<div class="col s2">
				<img src="{% static "img/apt-get-install-freedom.jpg" %}" class="circle left small responsive-img" />
			</div>
			<div class="col s10">
				<div class="row">
					<div class="col s12">
						<h5><a target="_blank" href="https://github.com/b3j0f">b3j0f</a></h5>
					</div>
					<div class="col s12">
						<p>
							Développeur en informatique, passionné par le partage de resources et de connaissances.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</diV>

<script type="text/javascript" charset="utf-8" async defer>
	var options = [
	{
		selector: '#problems', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	},
	{
		selector: '#then', offset: 100,
		callback: function(elt) {
			Materialize.fadeInImage($(elt));
		}
	},
	{
		selector: '#solution1', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	},
	{
		selector: '#solution2', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	},
	{
		selector: '#solution3', offset: 100,
		callback: function(elt) {
			Materialize.showStaggeredList($(elt));
		}
	}
	];
	Materialize.scrollFire(options);
</script>

{% endblock %}
