{% extends "base.html" %}
{% block body %}

<h1>Pourquoi cette initiative ?</h1>

Je crois aux valeurs de transparence et de démocratie, par le peuple et pour le peuple.

Le moyen d'arriver au choix d'un autre système politique se veut le plus démocratique, le plus naturel et le plus simple possible :

<ul>
<li>reprendre le principe du vote présidentiel que nous utilisons depuis des dizaines d'années,</li>
<li>changer l'objectif de "voter pour un parti politique" par "voter pour un système complémentaire ou alternatif",</li>
<li>ce sont les citoyens qui vont mettre en place l'organisation en la décidant par des sondages et des votes intermédiaires et anonymes, pour désigner 3 compteurs de vote par bureau de vote. La plateforme va aider les utilisateurs à choisir le bureau de vote le plus proche de chez eux, et également optimiser une répartition par bureau de vote.</li>
<li>tout vote en dehors de la plateforme recquiert le nom et le prénom, le numéro d'identité et la date d'anniversaire (informations non publiques),</li>
<li>les votes nuls et blancs seront pris en compte s'ils représentent la majorité des votes, et permettront de réaliser des débats citoyens afin d'identifier ce qu'il manque au vote pour concerner la majorité.</li>
</ul>

Pour faciliter l'application du procédé, nous vous proposons cette plateforme qui a la particularité d'être...

<ul>
<li>participative : participez à des sondages anonymes en attendant les votes finaux</li>
    <ul>
    <li>résultats en temps réel</li>
    <li>votes proposés par les citoyens, et destinés aux citoyens.</li>
    <li>un utilisateur est publiquement reconnu à l'aide d'un pseudo afin de préserver son identité. Et le pseudo n'apparait pas dans les résultats de vote et de sondage.</li>
    <li>nom, prénom, date de naissance et numéro d'identité civil ne sont nécessaires que pour un vote en dehors de la plateforme (ils sont chiffrés en base mais disponibles dans le cadre d'une enquête de l'État).</li>
    </ul>

<li>informative : la plateforme vous informera des évolutions des votes et des articles de blog, ... en temps réel.</li>
    <ul>
    <li>possibilité de vous inscrire/désinscrire à tout élément (sondage, article de blog, évènement) par catégorie.</li>
    </ul>

<li>sécurisée : protocole https/ssl, données chiffrées et sauvegardes journalières</li>

<li>transparente : visibilité sur l'arrière plan de la plateforme</li>
  <ul>
  <li>Code source libre et ouvert (licence MIT) : https://github.com/b3j0f/democratia</li>
  <li>fichiers de logs pour suivre les activités de la plateforme : http://democratiafr.fr/logs</li>
  </ul>

</ul>

{% endblock %}
