{% extends "base.html" %}
{% block content %}

{% load static %}

<div class="container">

	<h1>Pourquoi ce projet ?</h1>

	<div class="section scrollspy" id="history" name="Historique">

		<h2>Historique</h2>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static "img/hourglass-620397_640.jpg" %}"></div>
		</div>

		<p>
			L'idée m'est venue lorsque j'ai effectué mes premières maraudes. Ces maraudes sont très efficaces pour aller en groupe à la rencontre de personnes en difficulté.
		</p>
		<p>
			Une fois ces premières maraudes effectuées, j'en ai parlé autour de moi, et nombreux étaient ceux qui voulaient faire la même chose. Malheureusement, l'emploi du temps ne correspondait pas aux horraires de la maraude.
		</p>
		<p>
			J'ai alors cherché s'il y avait des applications mobiles ou web qui facilitent les maraudes. Malheureusement, une seule est open-source. Les autres ne le sont pas, et leur bon fonctionnement dépend donc uniquement des développeurs. Du coup, j'ai souhaiter développer cette application en m'inspirant des applications existantes ou passées...
		</p>
	</div>

	<div class="section scrollspy row" id="solution" name="solution">

		<h2>Recherche d'une solution</h2>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static "img/books-441866_640.jpg" %}"></div>
		</div>

		<p>
			Voici un récapitulatif des applications que j'ai trouvé au cas où vous vous intéressez à une application déjà existante...
		</p>
		<div class="col s2">
			<p>
				<a href="https://github.com/rasmi/homeless-nyc">
					Homeless nyc
				</a>
			</p>
		</div>
		<div clas="col s10">
			<p>
				Application Android (pas de portage windows ou IOS) spécifique à New York. Non libre (licence GPLV2) mais open-source ! Il sera plus simple de s'en inspirer !
			</p>
		</div>
		<div class="col s2">
			<p>
				<a href="http://homelessplus.com/">
					Homeless plus
				</a>
			</p>
		</div>
		<div class="col s10">
			<p>
				Non libre ou open-source. A fonctionné deux fois sur les vingt fois que je l'ai testé, et ils répondent rarement à mes messages. Du coup, seules les idées ont été récupérées.
			</p>
		</div>
		<div class="col s2">
			<p>
				<a href="http://www.mpli.fr/">
					Merci pour l'invit'!
				</a>
			</p>
		</div>
		<div class="col s10">
			<p>
				Application Android non libre et non open-source qui permet de rentrer en communication par message avec les gens en galère, et réciproquement. Si vous la testez, faites attention à ne pas utiliser un mot de passe que vous utilisez souvent car la connection n'est pas sécurisée !
			</p>
		</div>
		<div class="col s2">
			<p>
				<a href="http://www.entourage.social/">
					Entourage
				</a>
			</p>
		</div>
		<div class="col s10">
			Application iPhone et Android ni libre et ni open-source, développée par une entreprise partenaire de la croix rouge. Réseau social pour aider les gens en galère, sous l'autorité d'associations acceptées par l'entreprise. Et outil de support de maraude pour les associations (comptes rendus, historique des rencontres, etc.)
		</div>

	</div>

	<div class="section scrollspy" id="action" name="Action">

		<h2>Passage à l'acte</h2>

		<div class="parallax-container">
			<div class="parallax"><img src="{% static "img/connect-20333_640.jpg" %}"></div>
		</div>


		<p>
			Vous l'aurez compris, aucune solution n'est libre, mais seule la première application est open-source. Ce qui va permettre de gagner un temps considérable pour développer une vrai application libre, open-source et multi-plateforme !
		</p>

		<p>
			Les autres applications ne laissent derrière elles que des idées à réutiliser dans cette application, à condition que ces idées soient intéressantes pour un usage spontané et simple.
		</p>

		<p>
			Me voici donc parti pour développer rapidement et simplement (merci la méthode KISS) une application pour permettre à quelqu'un de rapidement aider une personne en galère !
		</p>

	</div>

</div>

{% endblock %}
